@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    This site is intended to storage your best photo albums.<br/>
    It part of your own history.
</p>
<img src="~/Content/Images/about-girl.jpg" class="img-responsive img-circle" alt=""/>