@using Memento.Models

@{
    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = (CurrentUser)Session["CurrentUser"];
}

<div class="row">
    <div class="col-md-2">
        <img src="@Url.Content(currentUser.PhotoUrl)" class="user-avatar img-responsive img-circle" alt="no image" />
        <div class="text-center">
            <button type="button"
                    data-toggle="modal"
                    data-target="#create-album-modal"
                    class="add-button btn btn-primary btn-xs">
                Add new album
            </button>

            @Html.Partial("_CreateAlbumPartial")
        </div>
    </div>
    <div class="albums-area col-md-10">
        <h1 class="page-header">Your albums</h1>
        <ul class="list-inline">
            <li class="album thumbnail col-md-3">
                <ul class="tags-area list-inline">
                    <li>
                        <span class="label label-primary">Nature</span>
                    </li>
                    <li>
                        <span class="label label-primary">Lake</span>
                    </li>
                    <li>
                        <span class="label label-primary">Mountings</span>
                    </li>
                </ul>
                <img src="~/Content/Images/footer-nature.jpg" class="img-responsive" alt="no-image"/>
                <div class="caption">
                    <h4>Album Name</h4>
                    <p>The great album description. Some text of description.</p>
                    <button class="btn btn-primary">View more</button>
                    <button class="btn btn-default">Delete</button>
                </div>
            </li>
        </ul>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




