@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Republic Of Belarus<br />
    Minsk, Nemanskaya 45<br />
    <abbr title="Phone">P:</abbr>
    375.33.308.64.32
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Wolendrang@gmail.com">Wolendrang@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Wolendrang@gmail.com">Wolendrang@gmail.com</a>
</address>