@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    
    <div class="col-md-9">
        <h1 class="page-header">Search results</h1>
        <ul class="list-inline">
            <li class="album col-md-3 thumbnail">
                <ul class="tags-area list-inline">
                    <li>
                        <span class="label label-primary">Nature</span>
                    </li>
                    <li>
                        <span class="label label-primary">Lake</span>
                    </li>
                    <li>
                        <span class="label label-primary">Mountings</span>
                    </li>
                </ul>
                <img src="~/Content/Images/footer-nature.jpg" class="img-responsive" alt="no-image" />
                <div class="caption">
                    <h4>Album Name</h4>
                    <p>The great album description. Some text of description.</p>
                    <button class="btn btn-primary">View more</button>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <div class="search-line input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Search!</button>
            </span>
        </div>
        <div class="search-selector btn-group clearfix">
            <button class="search-selector btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Search type
                <span class="caret"></span>
            </button>
            <ul class="search-selector dropdown-menu">
                <li>
                    <a href="#">Search by user name</a>
                </li>
                <li>
                    <a href="#">Search by album tag</a>
                </li>
            </ul>
        </div>
        <dl>
            <dt>Search by user name</dt>
            <dd>
                <p>
                    You can search photo albums of users by their full name.
                    You can get all albums that this users have except private albums.
                    The search is for all users with this name.
                <p>
                <small class="text-info">Example: Kevin Smith</small>
            </dd>
            <dt>Search by tag</dt>
            <dd>
                <p>
                    You can search photo albums of users by tag.
                    You can get all albums that have this tag except private albums.
                <p>
                <small class="text-info">Example: #nature</small>
            </dd>
        </dl>
    </div>
</div>

