@using Memento.Models

@{
    ViewBag.Title = "Start Page";
}

<div class="jumbotron row">
    <div class="col-md-4">
        <img src="@Url.Content("~/Content/Images/fon-acrobats.jpg")" class="img-responsive" alt="no image">
    </div>
    <div class="col-md-4">
        <img src="@Url.Content("~/Content/Images/fon-man.jpg")" class="img-responsive" alt="no image">
    </div>
    <div class="col-md-4">
        <img src="@Url.Content("~/Content/Images/fon-dance.jpg")" class="img-responsive" alt="no image">
    </div>
</div>

