.albums-area {
    box-sizing: border-box;
}

.album, .photo {
    margin: 5px;
}

.tags-area {
    margin-bottom: 5px;
}

.album-creating-input {
    width: 100%;
}

.album-checkbox {
    width: auto;
    vertical-align: top;

    margin-right: 10px;
}

.album-checkbox-label {
    margin-left: 15px;

    font-weight: normal;
}

.example {
    padding: 0 15px;
}
