.add-button:before {
    content: '+ ';
}

.delete-button {
    width: 20px;
    height: 20px;

    margin: 5px;
    -ms-border-radius: 10px;
    border-radius: 10px;

    background-color: #757474;
}

.delete-button:hover {
    background-color: #a41717;
}

.rating-button {
    vertical-align: middle;
    width: 30px;
    height: 30px;

    margin: 5px;
    -ms-border-radius: 20px;
    border-radius: 20px;

    background-color: #757474;
}

.cons-button:hover {
    background-color: #a41717;
}

.pros-button:hover {
    background-color: #15ae18;
}