.comments {
    padding: 0;
}

.comment-input-area {
    margin-top: 30px;
}

.comment-textarea {
    max-width: initial;
    resize: none;
}

.comment-text {
    padding-left: 15px;
}

.comment-adding-block {
    margin: 15px 0;
}
