@model Memento.Models.AlbumViewModel

@if (Model.CurrentUserId == Model.AuthorId)
{
    <span class="album-rating">@Model.AlbumRating</span>
}
else
{
    <button class="rating-button cons-button"></button>
    <span class="album-rating">@Model.AlbumRating</span>
    <button class="rating-button pros-button"></button>
}
