<ul class="list-unstyled">
    <li class="col-md-12">
        <h4>
            <strong>Comment title</strong>
        </h4>
        <p class="comment-text">
            Some comment text. Bla bla bla bla bla.
        </p>
    </li>
</ul>
<div class="comment-input-area clearfix">
    <div class="col-md-9">
        <textarea class="comment-textarea form-control" rows="3" spellcheck="false"></textarea>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary">Add comment</button>
    </div>
</div>
