@{
    bool isResourseOfCurrentUser = (bool)ViewData["isResourseOfCurrentUser"];
    int resourseRating = (int)ViewData["resourseRating"]; 
}

@if (isResourseOfCurrentUser)
{
    <span class="rating">@resourseRating</span>
}
else
{
    <button class="rating-button cons-button"></button>
    <span class="rating">@resourseRating</span>
    <button class="rating-button pros-button"></button>
}
